.technology-detail {
  font-size: 0.85rem;
  color: $body-color;

  .container-fluid {
    padding: 0;
  }

  .content-row.wysiwyg {
    margin: 0;
  }
}

ul.flags {
  padding: 0;
}

@include media-breakpoint-down(md) {
  .col-md {
    margin-top: 1rem;
  }
}
