/* These styles apply to the WordPress back-end only */
.character-limit {
  float: right; }
  .character-limit.warning {
    color: red;
    font-weight: bold; }


/*# sourceMappingURL=admin.css.map*/