.footer {
  padding: 1rem 0;
  font-size: 0.875rem;

  p {
    margin-bottom: 0.5rem;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__element {
    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
    }

    img {
      // override any classes that float images
      float: none !important;
    }
  }

  &__nav {
    list-style: none;
    padding: 0;
    text-decoration: none;

    a {
      color: inherit;
      text-decoration: none;
    }

    .menu-item {
      color: $body-color;
      @include emphasised-text;

      &:hover, &:active {
        color: #000;
      }
    }
  }

  &__social {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: inherit;
    text-decoration: none !important;

    i {
      color: $body-color;
    }

    &:hover > i, &:active > i {
      color: #000;
    }
  }

  .gform_wrapper {
    .gfield_label {
      display: none;
    }

    input {
      width: 100%;
    }
  }

  // Improves the positioning of elements when there are fewer than four
  &--center {
    @include media-breakpoint-up(md) {
      text-align: center;

      .footer__element {
        display: inline-block;
        text-align: left;
      }
    }
  }
}
