.link-card {
  box-shadow: $shadow;
  margin: 0 0 3rem;
  padding: 1.25rem 0.75rem;
  text-decoration: none;
  background: white;
  display: block;

  article {
    display: flex;
    flex-direction: column;
  }

  &:hover,
  &:focus,
  &:active {
    color: inherit;
    text-decoration: none;
    box-shadow: 2px 3px 5px 1px lighten($body-color, 20%);
  }

  .circle,
  .no-image {
    width: $color-block-size;
    height: $color-block-size;
  }

  .circle {
    border-radius: 50%;
  }

  .no-image {
    background-color: $principal-color;
  }

  &__title {
    color: $body-color;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &__label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    background-color: $principal-color;
    color: white;
  }

  &-section--info,
  &__text {
    > *:last-child {
      margin-bottom: 0;
    }
  }

  &-section--image {
    margin-bottom: 1rem;
  }

  // compact card is horizontal
  &--compact article {
    flex-direction: row;
    align-items: center;
    @extend .row;

    .link-card-section {
      @extend .col;
      margin-bottom: 0;
    }
  }
}

.links-row {
  div[class^=col-] {
    display: flex;
    flex-direction: column;
  }

  .link-card {
    flex: 1 0 auto;

    &-section--image {
      text-align: center;
    }

    article {
      height: 100%;

      .link-card-section--image {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}