.search-form {
  margin: 1rem 0;
  padding: 0 0 1rem 0;
  border-bottom: solid 2px #000;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    align-items: center;

    .form-group {
      margin: 0 2rem 0 0;

      &--type {
        flex: 1 0 auto;
        text-align: center;
      }

      &--category,
      &--search {
        flex: 1 1 250px;
      }
    }
  }

  .form-group--type {
    .custom-control + .custom-control {
      margin-top: 0.5rem;
    }

    @include media-breakpoint-up(sm) {
      text-align: center;

      .custom-control {
        display: inline;

        & + .custom-control {
          margin-top: 0;
          margin-left: 1.5rem;
        }
      }
    }
  }

  &,
  input,
  select {
    color: $body-color;
    @include emphasised-text;
  }

  .search-form__input::placeholder {
    color: #ccc;
  }

  // need high specificity to override bootstrap
  .btn.btn-primary {
    flex: 0 0 auto;

    &:focus,
    &:active {
      border-color: $principal-color;
      background: mix($principal-color, white, 50%);
      color: $principal-color;
    }
  }

  .btn-primary,
  .custom-select,
  .search-form__input {
    box-shadow: $shadow;
  }

  .custom-select,
  .btn-primary,
  .form-control {
    border-radius: 0;
  }

  .custom-radio .custom-control-label::before {
    box-shadow: $shadow;
  }
}
