/*
 * Add any Bootstrap variables you wish to override here
 *
 * This file must be included before Bootstrap
 *
 * See /node_modules/bootstrap/scss/_variables.scss
 */

$navbar-padding-x: 0;
$navbar-padding-y: 0;

$font-family-sans-serif: "quicksand-webfont", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$custom-control-indicator-size: 1.5rem;
$custom-switch-indicator-size: 1.5rem;
$custom-control-indicator-checked-bg: $principal-color;
$custom-control-indicator-active-bg: mix($principal-color, white, 20%);

$btn-disabled-opacity: 0.3;
$input-focus-border-color: $principal-color;
$custom-control-cursor: pointer;
