@font-face {
  font-family: "quicksand-webfont";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/quicksand-regular-webfont.woff2") format("woff2"),
  url("../fonts/quicksand-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "quicksand-webfont";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/quicksand-bold-webfont.woff2") format("woff2"),
  url("../fonts/quicksand-bold-webfont.woff") format("woff");
}
