html,
body {
  // needed to prevent side-scrolling on some browsers/devices
  overflow-x: hidden;
  font-size: 1.1rem;
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1 0 auto;
  }

  body.wp-admin-bar & {
    min-height: calc(100vh - #{$wp-admin-bar-height});

    @media screen and (max-width: 782px) {
      min-height: calc(100vh - #{$wp-admin-bar-height-mobile});
    }
  }
}

main {
  margin-bottom: 1rem;
}

@include media-breakpoint-up(md) {
  body {
    font-size: $font-size-base * 1.25;
  }

  form {
    font-size: $font-size-base;
  }
}

.container-fluid {
  max-width: $container-max-width;

  // Ensure container-fluids have consistent padding, whether
  // within the navbar or not
  // (Default bootstrap behaviour is to remove the padding
  // for containers within the navbar on small screens)
  &,
  .navbar & {
    padding-left: 1rem;
    padding-right: 1rem;

    // Increase guttering on larger screens
    @include media-breakpoint-up(lg) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }

  // makes nested container-fluids acceptable
  .container-fluid {
    padding: 0;
  }
}

a {
  color: $secondary-color;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    color: $principal-color;
    text-decoration: underline;
  }
}

// utility class to set consistent width of text blocks
.body-text {
  @include body-text;
}

h1 {
  color: $principal-color;
  margin-top: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

blockquote {
  // Extending the bootstrap .blockquote class
  @extend .blockquote;
  border-left: 4px solid;
  padding-left: 0.75rem;
}

img {
  height: auto;
  max-width: 100%;
}

.wp-caption {
  border: none;
  padding-left:  0;
  padding-right:  0;
  max-width: 100%;

  img {
    max-width: 100%;
  }
}

.wp-caption-text {
  text-align: center;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: $gray-600;
}

.btn-primary {
  &:hover {
    border-color: $principal-color;
  }

  &:disabled, &:disabled:hover, &:disabled:focus {
    cursor: not-allowed;
    // Seems like we need `!important` to override Bootstrap's defaults that aren't var-controlled.
    // We keep its `opacity` which comes from our global `$btn-disabled-opacity` var.
    background-color: #999 !important;
    color: #fff !important;
    border-color: #000 !important;
  }
}
