/* Collect variables that are used across different
   components/rows/pages etc. in this file */

/* COLOURS */
$principal-color: #33b09f;
$secondary-color: #90278e;
$body-color: #7c7c7c;
$color-block-size: 70px;
$color-large-block-size: 150px;
$shadow: 2px 3px 5px 1px lighten($body-color, 30%);

/* LAYOUT */
$navbar-height: 70px;
$navbar-height-mobile: 56px;
// The point at which the navbar will expand i.e. un-collapse
$navbar-expand-breakpoint: lg;
$container-max-width: 1280px;
$body-text-max-width: 770px;

/* OTHER */
$default-transition-time: 0.2s;
$wp-admin-bar-height: 32px;
$wp-admin-bar-height-mobile: 46px;