.content-row {
  margin-bottom: 5rem;

  &:first-of-type {
    margin-top: 2.5rem;
  }

  &__title {
    color: $body-color;
    font-weight: normal;
    margin-bottom: 2.5rem;
  }

  &__title,
  &__buttons {
    text-align: center;
  }

  &__subtitle {
    @include body-text;
    font-size: 1rem;
    @include emphasised-text;
  }
}
