.row.featured-tech {
  .link-card {
    margin: 0;
    padding: 1.5rem;

    article {
      display: flex;
      flex-direction: column;
      height: 100%;

      .link-card-section--image {
        flex: 1 0 auto;
      }
    }

    .circle,
    .no-image {
      width: $color-large-block-size;
      height: $color-large-block-size;
    }
  }

  .link-card,
  .feature-content {
    height: 100%;
  }

  .feature-content {
    margin-top: 2rem;
    color: $body-color;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }
}
